#cartCounter{
    display: inline-block;
    
    border: 2px solid white;
    border-radius: 50%;
    width: 26px !important;
    overflow: hidden;
    text-align: center;
    padding: auto;
    vertical-align:top;
    padding-top: 0;
    color: white;
    background-color:#FF3347 ;
    font-size: 15px;
}
.container-fluid .nav-item{
    margin-left: 30px;
}