.orderForm{
    margin-top:40px ;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.orderForm input{
    margin: 3px;    
    padding: 5px;
    border-radius: 30px;
    border: 1px solid black;
}
.orderForm td{

    padding: 2px;
}
.orderForm td{

    padding-left: 15px;
}