.productCard img{

    height: 170px;
}
.productCard h2{

    
    margin: 10px;
}
.productCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    width: 280px;
   position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: center;
}

.productCard img{
    min-height: 160px;
}
.countBlock{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1px;
   
    bottom: 10px;
}
.plusBtn{
 
}
.minusBtn{
    
}
.countBtn{
    cursor: pointer;
    width: 25px;    
    height: 25px;
    background-color: #1E1E1E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.countInput{
    text-align: center;
    border: none;
    font-size: 20px;
    width: 100%;
    /* position: relative;
    right: -15px;
    z-index: -1; */
}   
.countInput::-webkit-inner-spin-button{
    display: none;
}
.cardBtn{
    cursor: pointer;
    height: 25px;
    width: 100%;
   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.confirmBtn{
    background-color: #1E1E1E;
}
.deleteBtn{
    background-color: #791818;
    padding: 1px;
    width: 100%;
}
#productViewer{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
   
}

.flex{

    
    width: 100%;
    display: flex;
   
    justify-content: space-around;
    flex-wrap: wrap;
}
.productPrice{
    color: #791818;
    font-style: bold;
    margin-left: 20px;
}


.pug ul{
    display: flex;
    width: 100%;
    justify-content: center;
}
.pug{
    width: 100%;
    text-align: center;
}
.pugBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    margin: 10px;
}
.activePug{
    background-color: gray;
    color: white;
}